:root{
    --super: 'Montserrat', sans-serif;
}

/*Обнуляющие стили---------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/*----------------*/

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

section{
    flex: 1 1 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}


/*Общие стили-------------------------------*/
h3{
    font-size: 22px;
    color: #2f312e;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.fewWords_text{
    padding-top: 40px;
    font-size: 16px;
    color: #222d31;
    line-height: 28px;
    font-family: var(--super);
    font-weight: 300;
}

.Big{
    font-size: 1.7em;
    color: #4d4037;
}


/*Шапка сайта-------------------------------*/
header{
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    height: 500px;
    background: url("fon.jpg") no-repeat 50% 50%;
}

.header_pic{
    position:relative;
}

.header_pic:after{
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    height: 160px;
    width: 110%;
    transform: rotate(180deg);
    background-image: linear-gradient(198deg, rgba(114, 171, 130, 0.63) 0%, rgba(241, 218, 191, 0.02) 90%);
}

.title{
    position: relative;
}

.title_h1{
    position: absolute;
    top: 100px;
    right: 0;
    font-family: var(--super);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase; 
    display: inline-block;
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("fon.jpg");
    background-position-x: 0%;
    background-position-y: 44%;
}

.title_h1:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    position: absolute;
    content: '';
    width: 100%;
}

.title_subtext{
    position: absolute;
    top: 160px;
    right: 0;
    color: #fff;
    font-family: var(--super);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 2;
}

.menu{
    width: 100%;
    position: fixed;
    left: 18.5%;
    background-color: #c7d8c587;
    padding-bottom: 10px;
}

.menu ul{
    padding-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
}

.menu li{
    margin-left: 35px;
}

.menu a{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ba9680;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}

.menu a span{
    position: relative;
    display: block;
    line-height: 28px;
}

.menu a span:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    bottom: 0;
    height: 1px;
    background-color: #c4c4c4;
    transition: all 0.3s ease 0s;
}

.menu a:hover span:after{
    left: 0;
    width: 100%;
}


/*Секция about----------------------*/
.fewWords{
     padding: 60px 0;
 }

.fewWords__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fewWords__column{
    flex: 0 0 50%;
    margin: 0 auto;
    width: 100%;
}

.photo{
    align-items: center;
}

.myPhoto{
    padding-left: 100px;
    margin: 0 auto;
}


/*Секция skills----------------------*/
.skills{
    padding:  60px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(114, 171, 130, 0.25);
    max-width: 1300px;
}

.skills__statistic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5px;
    margin-top: 40px;
}

.skills__column{
    flex: 0 1 25%;
    padding: 0 15px;
}

.skills__item{
    text-align: center;
}

.item-skills__value{
    color: #4d4037;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.item-skills__text{
    color: rgba(19, 38, 45, 0.48);
    font-size: 14px;
    line-height: 23px;
    padding: 0 7px;
}

/*Секция perspectives----------------------*/
.perspectives{
    padding: 60px 0;
}

.perspectives__list li{
    padding-left: 15px;
    font-style: italic;
}

.perspectives__list li:before{
    content: '';
    display: inline-block;
    margin-right: 18px;
    width: 10px;
    height: 10px;
    border: 1px solid #3f3214;
    border-radius: 50%;
    background-color: rgba(212, 189, 162, 0.42);
}

/*Секция footer----------------------*/
.footer{
    flex: 0 0 auto;
    background-color:rgba(114, 171, 130, 0.63);
}

.footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer-body__column {
    text-align: center;
    flex: 0 0 50%;
}

.footer-body__column a{ 
    padding: 0 15px;
    color: #4d4037;
    font-family: var(--super);
    font-weight: 700;
}

.footer-body__column a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer__text {
    color: #4d4037;
    font-size: 16px;
    font-family: "Arial", serif;
    letter-spacing: 1.5px;
    line-height: 25px;
}


@media (max-width: 700px) {
  .title_h1{
    font-size: 30px;
  }
  .title_subtext{
    top: 170px;
    max-width: 350px;
  }
  .menu{
    left: 0;
 }
  .menu a {
    font-size: 13px;
  }
  .menu ul {
    flex-wrap: wrap;
  }
  .skills__statistic {
    flex-wrap: wrap;
  }
  .fewWords__row { 
    flex-wrap: wrap-reverse;
  }
  .fewWords__column {
    flex: 0 0 100%;
  }
}
